{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        <form method="post" action="{% url 'update_quantity' item.product.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="decrease">-</button>
                            {{ item.quantity }}
                            <button type="submit" name="action" value="increase">+</button>
                        </form>
                    </td>
                    <td>${{ item.price|floatformat:"2" }}</td>
                    <td>${{ item.price|floatformat:"2" }} * {{ item.quantity|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'index' %}" class="btn " style="border-radius: 20px;background: #B9A792;">Continue Shopping</a>
        <a href="{% url 'checkout_view' %}" class="btn " style="border-radius: 20px;background: #B9A792;" >Proceed to Checkout</a>
    </div>
</div>
{% endblock %}
