<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Le Scent{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        @font-face {
  font-family: 'Cinzal Decorative Fond';
  src: url('path-to-your-font.woff2') format('woff2'),
       url('path-to-your-font.woff') format('woff');

}
        .img-fluid {
            width: 76% !important;
        }
        body > div > div > div > div.col-md-4 > a > img {
            max-width: 78%;
    max-height: 68%;
        }
    </style>

</head>
<body style="background: linear-gradient(144deg, #F4DFD6 24.18%, #B9A792 92.34%);">
    <header>
        <div class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="navbar-collapse " id="navbarNav">
                <div class="container-fluid">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'category_products' category_name='oriental' %}">Oriental</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'category_products' category_name='woody' %}">Woody</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'category_products' category_name='floral' %}">Floral</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style=" color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'category_products' category_name='fresh' %}">Fresh</a>
                    </li>
                </ul>
                </div>

                <div class="navbar-brand position-absolute start-50 translate-middle">

                <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute;width: 11px;height: 12px;top: -13px;left: -23px;" viewBox="0 0 12 13" fill="none" class="d-flex flex-shrink-0">
                    <path d="M6.02416 1C6.02416 1 6.03024 1.06545 6.03326 1.18233C6.09893 2.08819 6.63562 6.08412 11 6.65933C6.68197 6.65933 6.11112 10.6813 6.03566 11.7447C6.03303 11.9067 6.02416 12 6.02416 12C6.02416 12 6.02416 11.9067 6.03566 11.7447C6.05287 10.6812 5.80067 6.65933 1 6.65933C5.8891 6.24752 6.05713 2.1067 6.03326 1.18233C6.02479 1.06544 6.02416 1 6.02416 1Z" fill="#191919" stroke="#191919" stroke-linejoin="round"/>
                </svg>

                </div>
                <div class="navbar-brand position-absolute top-50 start-50 translate-middle" style="color: #161A21;font-family: Montserrat;font-size: 24px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 19.68px;text-transform: uppercase;" href="{% url 'index' %}">Le Scent</div>


                <div class="d-flex">
                    {% if user.is_staff %}
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link" style="list-style: none color: #161A21;font-family: Montserrat;font-size: 15px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'add_product' %}">Add New Product</a>
                           </li>
                        </ul>

                    {% endif %}
                    <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart_view' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute;width: 55px;height: 29px;top: 13px;left: 1387px;" viewBox="0 0 37 37" fill="none">
                                 <path d="M13.875 33.9167C14.7265 33.9167 15.4167 33.2265 15.4167 32.375C15.4167 31.5236 14.7265 30.8334 13.875 30.8334C13.0236 30.8334 12.3334 31.5236 12.3334 32.375C12.3334 33.2265 13.0236 33.9167 13.875 33.9167Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M30.8333 33.9167C31.6847 33.9167 32.375 33.2265 32.375 32.375C32.375 31.5236 31.6847 30.8334 30.8333 30.8334C29.9819 30.8334 29.2916 31.5236 29.2916 32.375C29.2916 33.2265 29.9819 33.9167 30.8333 33.9167Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M1.54163 1.54163H7.70829L11.84 22.1845C11.9809 22.8943 12.3671 23.5319 12.9308 23.9857C13.4945 24.4394 14.1998 24.6805 14.9233 24.6666H29.9083C30.6318 24.6805 31.3371 24.4394 31.9008 23.9857C32.4645 23.5319 32.8506 22.8943 32.9916 22.1845L35.4583 9.24996H9.24996" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #161A21;font-family: Montserrat;font-size: 20px;font-style: normal;font-weight: 500;line-height: normal;text-transform: capitalize;" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
<div  style="background: linear-gradient(144deg, #F4DFD6 24.18%, #B9A792 92.34%);">
<div class="container">
    <div class="row">

        <div class="text-center col-8">
            <h1 style="color: #282825; font-family: Cinzel Decorative; font-size: 64px; font-weight: 400; line-height: normal; letter-spacing: 2.16px">PERFUMES DE LA MODE</h1>
            <br>
            <br>
            <div class="d-flex">
               <div class="text-center col-4 d-flex" style="width: 356px; height: 437px;">
                <p class="pl-25" style="color: #000;text-align: center;font-family: Cinzel;font-size: 43px;font-style: normal;font-weight: 700;line-height: normal;text-transform: uppercase;">Perfume is the art that makes memory speak</p>
            </div>
            <div class="col-4" style="width: 356px; height: 437px;">
                <a href="https://ibb.co/T8bcLDq"><img src="https://i.ibb.co/Z8YdmR1/pexels-valeria-boltneva-1961791-1.png" alt="pexels-valeria-boltneva-1961791-1" border="0" class="img-fluid img-thumbnailt"></a>
            </div>
            </div>

        </div>

        
        <div class="col-md-4" style="position: relative; background-color: #DAD3C8; padding-top: 20px;">
            <ul style="color: #5A534D; font-family: Montserrat; font-size: 20px; font-style: normal; font-weight: 500; line-height: inherit;">
                <li style="margin-bottom: 10px">ORIENTAL SERIES</li>
                <li style="margin-bottom: 10px">WOODY SERIES</li>
                <li style="margin-bottom: 10px">FLORAL SERIES</li>
                <li>FRESH SERIES</li>
            </ul>
         <a href="https://imgbb.com/"><img src="https://i.ibb.co/YkyZFsh/pexels-valeria-boltneva-965990-1-1.png" alt="pexels-valeria-boltneva-965990-1-1" border="0" /></a>
        </div>

    </div>

</div>
    <footer class="text-white text-center" style="background: #26201B; margin-top: 16px;">
                <p style="padding: 14px; margin: 0;">&copy; 2023 LA SCENT | BELMA HUSEINOSKA</p>
      </footer>
</div>

</body>
</html>
